	
header 
	background tomato
	position fixed
	left 0px
	right 0px
	top 0px

	nav
		float right
		margin-right 10px
		ul
			li		
				list-style none
				display inline-block
				// background red
				padding 10px
				a
					color white
					text-decoration none
					text-transform uppercase
	
#iguana
	width 200px	
